.container {
  max-height: 30rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000;
  margin-bottom: 40px;
  text-shadow: 0 0 3px white;
}

.headerBigRectangle {
  position: fixed;
  top: 105px;
  right: center;
  height: 40px;
  width: 500px;
  background-color: #e00122;
  z-index: -1;
}
.headerSmallRectangle {
  position: fixed;
  top: 140px;
  right: center;
  height: 10px;
  width: 500px;
  background-color: #b8011c;
  z-index: -1;
}

.navBar {
  list-style-type: none;
  padding: 0;
  width: 300px;
  text-align: center;
  border-color: black;
  border-style: solid;
  border-radius: 10px;
}

.navButton {
  display: block;
  color: #000;
  padding: 8px;
  text-decoration: none;
}

.navButton:hover {
  background-color: #f1f1f1;
  border-radius: 10px;
}

.resourceList {
  list-style-type: none;
  padding: 0;
  width: 600px;
  text-align: center;
}
